<html>
    <head>
        <title>Lots</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body>
	<div class="top-bar">
		<section class="top-bar-section">
			<ul class="right">
				<a href="/register/">Регистрация</a><br>
				<a href="/profile/">Профиль</a><br>
				{% if username %}
					<a href="/logout/">Выйти ({{ username }})</a>
				{% else %}
					<a href="/login/">Войти</a>
				{% endif %}
			</ul>
		</section>
	</div>
	{% block login %}

	{% endblock %}

	<div class="pagination">
 			
		<ul>
		{% for lot in posts %}
                <caption><a href="{% url 'lot_detail' pk=lot.pk %}">{{lot.title}}</a></caption>
                	{{lot.start_date}}  Status: {{lot.status}}<br>
        {% endfor %}
		</ul>	
		
    		{% if posts.has_previous %}
        		<a href="?page={{ posts.previous_page_number }}">Previous</a>
    		{% endif %}

 
    		{% for num in posts.paginator.page_range %}
        		{% if num == posts.number %}
            			<span class="current"><b>{{ num }}</b></span>
        		{% else %}
            			<a href="?page={{ num }}"> {{ num }}</a>
        		{% endif %}
    		{% endfor %}
 
    		{% if posts.has_next %}
        		<a href="?page={{ posts.next_page_number }}">Next</a>
    		{% endif %} 
 
</div>
    </body>
</html>